.App-header , .App-footer {
  background-color: black;
  color: white;
  text-align: center;
  padding:5px;
}
.App-footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}
.App-content {
  padding: 3%;
}
